backend/node_modules
backend/mrbeast.json
backend/videoinfo.ipynb
backend/testingws.js
backend/videoinfo.json
backend/essentialfiles
backend/temp
backend/essentialfilesdownloader.js
backend/videoinfo.js
frontend/node_modules
temp

