.floatingbox{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 3px;
    min-width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: var(--s-borderradius);
    /* left: -100%; */
    bottom: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    animation: floatbox 3s forwards;
}

@keyframes floatbox {
    0% {
        transform: translateX(-100%);
    }
    10% {
        transform: translateX(0%);
    }
    90%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

.warning{
    background-color: rgb(248, 236, 60);
}
.error{
    background-color: rgb(241, 94, 94);
}
.success{
    background-color: rgb(108, 247, 66);
}