
.mainheader p{
    color: white;
}

.headerlogo{
    height: 60px;
}

.mainheader{
    display: flex;
    width: 100vw;
    padding: 5px;
    justify-content: space-around;
}
.logosection{
    width: 10vw;
    display: grid;
    justify-content: center;
}
.options{
    padding:8px;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gitlogo{
    display: flex;
    height: 50px;
    padding: 2px;
    align-items: center;
    cursor:pointer;
    border-radius: 20px;
    border: solid white 1px
}

.gitlogo:hover{
    border: solid red 1px;

}
.gitlogo img{
    height: 40px;
}



@media screen and (max-width:600px) {
    .logosection{
        width: 70vw;
    }
    .options{
        width: 50px;
    }
    
}